.histo-commentaire{
    /*background: white;*/
    /*margin-top: 60px;*/
    background-image: url('../images/bg_tour.jpg');
    background-size: cover;
    background-position: 0 54px;
}

.histo-list  .histo-item, .histo-item {
    /*width: 100%;
    margin-bottom:0px;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;*/
    width: 100%;
    margin-bottom: 0px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: rgba(255,255,255,0.9);
    border-bottom: 2px solid #e91e63;
}
.histo-item{
  margin-bottom: 5px;
}

.histo-list .x-list-pullrefresh {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    height: 4.5em;
}

.histo-list .x-body{overflow: hidden;}

.histo-item > .valet-avatar{width:60px;height:60px}
.histo-item > h2 {  font-weight: 600;  font-size: 12px;  margin-bottom: 0px;  font-style: italic;}
.histo-item > .valet-address{font-size: 12px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#1f1f1f;  font-style: italic;}
.valet-dist{display: inline-block;float:right;font-weight: 700;color: #fff;padding:2px 5px;line-height: 10px;height:15px;margin-top: 2px}
.valet-near{background-color: #27AE60;color:#fff}
.histo-item > .valet-far{background-color: #F39C12;}
.histo-item > .valet-very-far{background-color: #C0392B;}
.histo-item > .valet-hours{display: block;color: #333;}
.histo-item {overflow: hidden;}
.valet-address-big{font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#1f1f1f;line-height: 22px;margin-bottom: 5px}

#valet-history{border-left: 1px solid #90A4AE;display:none}
.list-header{padding-left: 10px;font-size: 15px;height:25px;line-height: 25px}
#valet-history .history-course {
    width: 100%;
    margin-bottom:0px;
    position:relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    padding-left: 10px
}
